.nav{
  text-align:center;
  background-color: white;
}

.nav ul {
  list-style: none;
  background-color: #001427;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
  width: 100%
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.about a:hover {
  background-color: #EBBAB9;
}

.home a:hover {
  background-color: #0A81D1;
}

.contact a:hover {
  background-color:#2CEAA3 ;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
  }

.mainpicture {
  background-color: #001427;
  height:300px;
  width:100%;
  text-align:center;
  padding-bottom: 5%;
}




#do{
  background-color:#FAC9B8;
  height:350px;
  float:left;
  width:60%;
  text-align:center;
}

#events{
  height:450px;
  background-color:#DB8A74;
  float:left;
  width:60%;
}


.right{
  float: right;
  height:800px;
  width:40%;
  background-color:#444054;
}

.whenwhere{
  background-color: #B48291;
  width:100%;
  height:350px;
  float:left;
  color:#BEBBBB;
}

#video{
  text-align: center;
}

#caption{
  text-align: center;
  font-size: 20;
  color:#BEBBBB;
}

p, h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:#2F243A;
}

p{
  font-size: 35;
}
