.nav{
  text-align:center;
  background-color: white;
}

.nav ul {
  list-style: none;
  background-color: #001427;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
  width: 100%
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.about a:hover {
  background-color: #EBBAB9;
}

.home a:hover {
  background-color: #0A81D1;
}

.contact a:hover {
  background-color:#2CEAA3 ;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
  }

.mainpicture {
  background-color: #001427;
  height:300px;
  width:100%;
  text-align:center;
  padding-bottom: 5%;
}

.links{
  width:100%;
  height: 300px;
  background-color: #DEDBD2;
  font-size: 35;
}
.officers{
  width:100%;
  height: 300px;
  background-color: #B0C4B1;
  font-size: 35;
}

p, h1, ul{
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

#insta{
  width: 20%;
  height: 20%;
  padding: 50px;
}

#twitter{
  width: 50px;
  height: 50px;
  padding: 50px;
}
