

.nav{
  text-align:center;
  background-color: white;
}

.nav ul {
  list-style: none;
  background-color: #001427;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
  width: 100%
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.about a:hover {
  background-color: #EBBAB9;
}

.home a:hover {
  background-color: #0A81D1;
}

.contact a:hover {
  background-color:#2CEAA3 ;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
  }

.mainpicture {
  background-color: #001427;
  height:300px;
  width:100%;
  text-align:center;
  padding-bottom: 5%;
}

#left {
  float:left;
  background-color:#7C90DB;
  height:300px;
  width:60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#right {
  float:right;
  background-color:#9593D9;
  height:540px;
  width:40%;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#missiontitle{
  font-family: 'Quicksand', sans-serif;
  font-size:50px;
  text-align: center;
  color: #E5BEED;
}

#mission{
  font-family: 'Quicksand', sans-serif;
  font-size:30px;
}

#seperater{
  background-color: red;
  width:60%;
  height:20px;
}

#red{
  background-color: #FF5964;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
#orange{
  background-color: #FFB997;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
#yellow{
  background-color: #FFE74C;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
#green{
  background-color: #6BF178;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
#blue{
  background-color: #35A7FF;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
#purple{
  background-color: #A682FF;
  width: 10%;
  height:240px;
  float: left;
  font-size:150px;
  text-align: center;
  color:white;
}
